:root {
  font-family: Inter, sans-serif !important;
  letter-spacing: -0.5px;

  color-scheme: dark;
  color: #ffffff;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* MIO CODICE CSS */

.MuiContainer-root {
  max-width: 1320px!important;
}


.menu-icon {
  width: 30px !important;
  height: 30px !important;
  color: #280047 !important;
}

.MuiListItemIcon-root {
  min-width: 46px !important;
}

.text-icon span {
  font-size: 16px !important;
  line-height: 26px !important;
  letter-spacing: -0.3px !important;
  font-weight: 600 !important;
}

.active-text span {
  font-size: 16px !important;
  line-height: 26px !important;
  letter-spacing: -0.3px !important;
  font-weight: 900 !important;
}

.list-menu {
  padding: 14px 16px !important;
}

.layout-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

/* TITOLI E TESTI SELEZIONE INIZIALE */
.title-select {
  font-size: 20px!important;
  font-weight: bold!important;
  margin-bottom: 20px!important;
}

.league-name-select {
  font-size: 14px!important;
  font-weight: 500!important;
}

.team-name-select {
  font-size: 14px!important;
  font-weight: 500!important;
  text-align: center;
}


/* GRID DELLA SELEZIONE INIZIALE */
.league-select {
  border-radius: 50px!important;
  border: 1px solid #280047;
  background-color: #fff;
  padding: 8px 16px!important;
  align-items: center;
}

.team-select {
  border-radius: 10px;
  border: 1px solid #280047;
  background-color: #fff;
  padding: 16px 24px;
  align-items: center;
}

.league-select:hover, .team-select:hover {
  border: 2px solid #280047;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.league-select:hover .league-name-select {
  font-weight: bold!important;
}

.team-select:hover .team-name-select {
  font-weight: bold!important;
}

/* PAGINA PLAYER */

h2.title-player {
  font-size: 22px!important;
  line-height: 32px!important;
  font-weight:800!important;
  margin: 0px!important;
}


h6.role-player {
  color: #AE7AFF;
  font-size: 14px;
  font-weight: 800!important;
  text-transform: uppercase;
  line-height: 24px!important;
  letter-spacing: 0px!important;
  margin: 0px!important;
}

h4.info-value {
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
}

p.info-title {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1px;
  color: #B3B3B3;
  margin:0px!important;
}

.stats-icon {
  color: #D0FF00;
  font-size: 30px;
  padding: 10px;
  border: 3px solid #D0FF00;
}

.stats-icon:hover {
  color: #000;
  font-size: 30px;
  padding: 10px;
  border: 3px solid #000;
  background-color: #D0FF00;
}

.favorite-icon {
  color: #AE7AFF;
  font-size: 30px;
  padding: 10px;
  border: 3px solid #AE7AFF;
}

.favorite-icon:hover {
  color: #000;
  font-size: 30px;
  padding: 10px;
  border: 3px solid #000;
  background-color: #AE7AFF;
}

h2.title-stats {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 0px;
}

.MuiChartsLegend-mark {
  height: 10px;
  width: 10px;
}
